{
  "presets": [
    ["@babel/preset-env", {
      "targets": { "chrome": "61" },
      "modules": false,
      "useBuiltIns": "usage" 
    }],
    "@babel/preset-react"
  ],
  "plugins": ["@babel/plugin-proposal-object-rest-spread"]
}
